html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Navbar button */
#btn-nav {
    width: 100px;
    float: right;
    margin-right: 15px;
}

/* Footer always down */
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

#footer,
 .push {
    height: 50px;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}