{% extends 'base.html' %}
{% load static %}
{% block title %} Accueil {% endblock %}

{% block body %}
    <div>
        <h1 class="mt-2 mb-4 text-center">Bienvenue sur CaloBurner</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- Card -->
            <div class="card">
              <div class="card-body justify-content">
                <p>Avez vous envie de faire du sport tout en maitrisant la quantité de calories que vous brûlez?</p>
                <p>Et bien, vous êtes au bon endroit. CaloBurner vous permet de maintenir votre santé en bonne forme tout en suivant sur une application
                    les métriques journalières de résultats. La procédure est très simplifié: </p>
                    <ol>
                        <li>Inscrivez vous sur le site caloburner.franimpa.fr en remplissant le formulaire.</li>
                        <li>validez l'inscription en cliquant sur le lien qui vous a été envoyé dans votre boîte mail.</li>
                        <li>Connectez vous et enregistrez les différentes métriques.</li>
                        <li>Accédez à votre tableau de bord personnel pour suivre vos statistiques.</li>
                    </ol>
                </p>
              </div>
            </div>
            <!-- End of card -->
        </div>
        <div class="col-md-4">
            <div>
                <img src="{% static 'img/main_front_image.jpg' %}" alt="My image" height="">
            </div>
        </div>
        <div class="col-md-4">
            <h2>Quelques infos</h2>
        </div>
    </div>

{% endblock %}